<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>415548287190-4me23n6e06g0b3vi55g0l6gbng542jb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415548287190-4me23n6e06g0b3vi55g0l6gbng542jb5</string>
	<key>API_KEY</key>
	<string>AIzaSyBXStv8rCfvBWUKmpBfZP_qeCFgPTovZEU</string>
	<key>GCM_SENDER_ID</key>
	<string>415548287190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilychin.HealthyHarvest</string>
	<key>PROJECT_ID</key>
	<string>healthyharvest-220aa</string>
	<key>STORAGE_BUCKET</key>
	<string>healthyharvest-220aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415548287190:ios:6da53615f532e5d8</string>
	<key>DATABASE_URL</key>
	<string>https://healthyharvest-220aa.firebaseio.com</string>
</dict>
</plist>